<% if user_signed_in? %>
  <% if @permit.user.id == current_user.id %>
    <%= render 'shared/edit_form', permit: @permit %>
  <% end %>
<% else %>
  <h1>stop trying to edit others post</h1>
<% end %>
