<div class="alert-div">
  <h1>Alerts</h1>
  <div class="alert-row">
    <div class="Table-cell text-color"><%= alert.body %></div>
    <div class="alert-time"><%= alert.created_at.strftime("%-H:%-M%P") %><br><%= alert.created_at.strftime("%-m/%-d/%-y") %></div>
    <% link_url = check_link_url(alert.link) %>
    <div class="Table-cell more-info-div"><%= link_to "More info...", link_url, :class => "more-info", :target => "_blank" %></div>
  </div>
</div>
