<h1>Permits</h1>

<div>Name</div>
<div>Agency</div>
<div>Deadline</div>
<% @permits.map do |permit| %>
  <div><%= permit.name %></div>
  <div><%= permit.agency %></div>
  <div><%= permit.deadline %></div>
<% end %>
<button href="/permits/new">New Permit</button>