<h1>Permits</h1>

<p>Name</p>
<%= @permits.map(&:name) %>

<p>Agency</p>
<%= @permits.map(&:agency) %>

<p>Deadline</p>
<%= @permits.map(&:deadline).map(&:to_s) %>

<button href="/permits/new">New Permit</button>