.x-bg-blue {
	background-color: #09347A;
}

.delete-button{
	background: #D60000;
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	color: white;
	text-decoration: none;
	font-family: Arial;
	font-size: 13.3333px;
}

.blue-button,
.knockout-button,
input[type="submit"] {
	background: #09347A;
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	color: white;
	border: none;
	text-decoration: none;

	a {
		text-decoration: none;
		color: white;
	}
}

.knockout-button {
	border: 2px solid #09347A;
	background: none;
	color: #09347A;
	a {
		color: #09347A;
	}
}
